textarea.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color:rgba(255, 167, 38, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 167, 38, 0.6);
  outline: 0 none;
}

button.btn-primary{
    background-color: rgba(255, 167, 38, 1)!important;
    border-color: rgba(255, 167, 38, 1)!important;
}

#alert-error,
#alert-success{
    display: none;
}